body{
    background-color: rgb(255, 255, 255);
    color: rgb(25, 0, 255)
}
.cabecalho{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255)
    display:rgb(255, 255, 255)
    justify-content: rgb(255, 255, 255)
}










